.cover__text {
    margin: 0 auto;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

@media screen and (max-width: 767px) {
    .cover__text {
        max-width: 288px;
        gap: 16px;
    }    
  }
  







