.place__website {
    margin: 0;
    max-width: 456px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 2px;
    align-self: flex-end;
    color: #AAAAAA;
}

@media screen and (max-width: 1024px) {
    .place__website {
        max-width: 456px;
    }    
  }

  @media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
        margin: 0 0 20px;
    }    
  }

