.footer {
    margin: 92px auto 0;
    padding-bottom: 24px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: 50px 57px 94px 86px 106px auto;
    gap: 18px;
}

@media screen and (max-width: 1024px) {
    .footer  {
        max-width: 928px;
    }    
  }

  @media screen and (max-width: 768px) {
    .footer  {
        margin: 88px 24px 24px;
    }    
  }

  @media screen and (max-width: 720px) {
    .footer  {
        max-width: 186px;
        grid-template-columns: auto;
        gap: 32px;
        margin: 64px 118px  0px 16px;
    }    
  }
