.footer {
    margin: 92px auto 0;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(5, max-content) auto;
    gap: 18px;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer  {
      max-width: calc(928 / 1024 * 100%);
        
    }    
  }

  @media screen and (max-width: 768px) {
    .footer  {
        margin: 88px 24px 0;
    }    
  }

  @media screen and (max-width: 720px) {
    .footer  {
        max-width: 186px;
        grid-template-columns: auto;
        gap: 32px;
        margin: 64px 118px  0px 16px;
    }    
  }
